<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static_file/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static_file/css/form-elements.css">
    <link rel="stylesheet" href="/static_file/css/style.css">
</head>
<style>
</style>
<body>
<div class="container">
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>SpringBud</strong> Login Form</h1>
                        <div class="description">
                            <p>
                                早安，朋友! 一天好心情不仅从清晨开始，而且从心晨开始。保持好状态，让心晨明朗阳光，给心城自由开放，还新晨如云舒卷。
                                <strong>年轻，</strong>就是这么拽，青春，都是我的“菜”，骚年，就是该奋斗！
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to our site</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="username">Username</label>
                                    <input type="text" name="username" placeholder="Username..."
                                           class="form-username form-control" id="username">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <input type="password" name="password" placeholder="Password..."
                                           class="form-password form-control" id="password">
                                </div>
                                <button type="submit" class="btn btn-info">Sign in!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="application/javascript" src="/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static_file/js/scripts.js"></script>
</html>